<div>

    <!-- Nav tabs http://getbootstrap.com/javascript/#tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#site_tab" aria-controls="site_tab" role="tab" data-toggle="tab"> <h3>Site Configuration</h3>  </a></li>

        <li role="presentation"><a href="#profile_tab" aria-controls="profile_tab" role="tab" data-toggle="tab"> <h3>Profile Configuration</h3>  </a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="site_tab">{SITE_SETTINGS_ACCORDIAN}</div>
        <div role="tabpanel" class="tab-pane" id="profile_tab"> <table id="profile_config" class="table table-striped"></table><!-- profile configuration values --></div>
    </div>

</div>